/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin : 0;
  padding: 0;
}

body {
  max-width       : 1200px;
  margin          : 0 auto;
  font-family     : Montserrat;
  font-weight     : 800;
  color           : white;
  background-color: rgb(255, 255, 255);
}

.header {
  margin-top      : 50px;  
  border          : 15px solid black;  
  background-color: black;
}

.headerSup {
  display         : flex;
  align-items     : center;
  padding         : 10px;
  text-align      : center;
  background-color: #2D4059;
}

.headerSup_1, .headerSup_3 {
  width           : 20%;
  margin          : 10px;
  background-color: #EA5455;
}

.headerSup_2 {
  width           : 60%;
  background-color: #EA5455;
}

.headerInf {
  display         : flex;
  margin-top      : 10px;
  padding         : 20px;
  background-color: #F07B3F; 
}

.headerInf_1 {
  background-color: #FED460;
}

.main {
  display         : flex;
  gap             : 15px;
  margin-top      : 30px;  
  border          : 15px solid black;  
  background-color: #000000;
}

.section1 {
  width           : 65%;  
  background-color: #4E4E6A;
}

.section1_1a, .section1_1b, .section1_1c {
  display: flex;
  gap    : 15px;
  margin : 20px;
}

.section1_1a a, .section1_1b  a  { 
  background-color: #1F6CB0;
}
 
.section1_1c a {
  background-color: #70A3C4;
}

.section2 {
  width           : 35%;
  display         : flex;
  flex-direction  : column;
  background-color: #F73F52;
}

.section2 a {
  background-color:#FEEA85;
  margin          : 20px;
  margin-bottom   : 20px;
}

.footer {
  background-color: #E6AF2E;
  margin-top      : 30px;
  border          : 15px solid black;  
  text-align      : center;
}
