/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  margin : 0;
  padding: 0;
}

body {
  max-width       : 1200px;
  margin          : 0 auto;
  font-family     : Montserrat;
  font-weight     : 800;
  color           : white;
  background-color: rgb(255, 255, 255);
}

.header {
  margin-top      : 50px;  
  border          : 15px solid black;  
  background-color: black;
}

.headerSup {
  display         : flex;
  align-items     : center;
  padding         : 10px;
  text-align      : center;
  background-color: #2D4059;
}

.headerSup_1, .headerSup_3 {
  width           : 20%;
  margin          : 10px;
  background-color: #EA5455;
}

.headerSup_2 {
  width           : 60%;
  background-color: #EA5455;
}

.headerInf {
  display         : flex;
  margin-top      : 10px;
  padding         : 20px;
  background-color: #F07B3F; 
}

.headerInf_1 {
  background-color: #FED460;
}

.main {
  display         : flex;
  gap             : 15px;
  margin-top      : 30px;  
  border          : 15px solid black;  
  background-color: #000000;
}

.section1 {
  width           : 65%;  
  background-color: #4E4E6A;
}

.section1_1a, .section1_1b, .section1_1c {
  display: flex;
  gap    : 15px;
  margin : 20px;
}

.section1_1a a, .section1_1b  a  { 
  background-color: #1F6CB0;
}
 
.section1_1c a {
  background-color: #70A3C4;
}

.section2 {
  width           : 35%;
  display         : flex;
  flex-direction  : column;
  background-color: #F73F52;
}

.section2 a {
  background-color:#FEEA85;
  margin          : 20px;
  margin-bottom   : 20px;
}

.footer {
  background-color: #E6AF2E;
  margin-top      : 30px;
  border          : 15px solid black;  
  text-align      : center;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin-top: 50px;   
  }

  .main {
    display         : flex;
    flex-direction  : column;
    border          : 15px solid #FEFF03;  
    background-color: #FEFF03;
  }

  .section1 {
    width: 100%;  
  }

  .section2 {
    width: 100%; 
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .main {
    display         : flex;
    flex-direction  : column;
    border          : 15px solid #FEFF03;  
    background-color: #FEFF03; 
  }

  .section1 {
    width: 100%;  
  }
  
  .section2 {
    width: 100%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .header {
    margin-top: 10px;   
  }

  .headerSup {
    flex-direction: column;
  }

  .headerSup_1, .headerSup_2, .headerSup_3 {
    width: 100%;
  } 

  .main {
    display         : flex;
    flex-direction  : column;
    border          : 15px solid #FEE228;  
    background-color: #FEE228; 
  }

  .section1 {
    width: 100%;  
    background-color: #09506F;
  }
  
  .section2 {
    width: 100%;
  }

  .section1_1a, .section1_1b, .section1_1c {
    display: flex;
    flex-direction: column;
  }

  .section1_1a a, .section1_1b  a  { 
    background-color: #61959C;
  }
   
  .section1_1c a {
    background-color:#A3DDCB;
  }

  .section2 {

    background-color: #FD7B54;
  }
  
  .section2 a {
    background-color: #FDB36B;
    
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    margin-top: 10px;   
  }
  
  .headerSup {
    flex-direction: column;
  }

  .headerSup_1, .headerSup_2, .headerSup_3 {
    width: 100%;
  } 

  .main {
    display         : flex;
    flex-direction  : column;
    border          : 15px solid #FEE228;  
    background-color: #FEE228; 
  }

  .section1 {
    width: 100%;  
    background-color: #09506F;
  }
  
  .section2 {
    width: 100%;
  }

  .section1_1a, .section1_1b, .section1_1c {
    display: flex;
    flex-direction: column;
  }

  .section1_1a a, .section1_1b  a  { 
    background-color: #61959C;
  }
   
  .section1_1c a {
    background-color:#A3DDCB;
  }

  .section2 {

    background-color: #FD7B54;
  }
  
  .section2 a {
    background-color: #FDB36B;
    
  }


  
}